@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    font-smooth: always;
    -webkit-text-size-adjust: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #6a6a6a !important;
    font-size: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #2c2c2c;
}

div.splash-screen {
    position: fixed;
    margin-top: -89px;
    display: block;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 1100;
    transition: all 0.7s ease-out !important;
}

div.splash-screen.unvisible {
    opacity: 0;
}

div.splash-screen img {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;

    animation: breathing 3s ease-out infinite normal;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.7) rotate(7deg);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
    }
}

body {
    margin-top: 89px;
}

nav {
    background: #FFF;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    border-radius: 0 !important;
}

nav a {
    color: #000000 !important;
    background: transparent !important;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

nav a:hover {
    color: #417DB1 !important;
}

nav a.lang-code img {
    margin-top: -3px;
    margin-right: 3px;
}

nav .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 236px;
    padding: 0;
    margin: 0;
}

nav .navbar-toggle {
    border: transparent;
    margin-right: 0;
    padding: 5px 2px 5px 2px;
    margin-top: 23px;
}

nav .navbar-toggle span.icon-bar {
    width: 40px;
    height: 3px;
    margin: 5px;
}

nav .navbar-toggle.collapsed span.icon-bar {
    background: #417DB1;
    transform: none !important;
}

nav .navbar-toggle span.icon-bar {
    background: #C12602;
    transition: all 500ms ease;
}

nav .navbar-toggle span.icon-bar:nth-child(2n) {
    transform: translateX(7px);
}

nav .dropdown.lang-panel a.dropdown-toggle .glyphicon {
    font-size: 24px;
    line-height: 0 !important;
    top: 4.3px;
}

nav .dropdown-menu {
    border: transparent;
    margin-right: 13px;

    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

nav .dropdown-menu li a {
    padding: 12px 25px;
    font-weight: 800;
    transition: all 0.3s ease-out;
}

nav .dropdown-menu li a:hover {
    color: #000;
}

body > header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35em;
    padding: 0 15px;

    text-align: center;
    color: #FFF !important;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header-kyiv.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body > header h1 {
    color: #FFF !important;
    font-size: 3.5em;
}

body > header p {
    color: #00d6f9;
    font-size: 2em;
}

@media (max-width: 460px) {
    body > header {
        height: 28em;
    }
    body > header h1 {
        font-size: 2.8em;
    }
    body > header p {
        font-size: 1.5em;
    }
}

@media (max-width: 370px) {
    body > header {
        height: 22em;
    }
    body > header h1 {
        font-size: 2.3em;
    }
    body > header p {
        font-size: 1.3em;
    }
}

section {
    padding-bottom: 130px;
    padding-top: 90px;
}

section:nth-child(odd) {
    background-color: #FAFAFA;
}

section .section-body .title h1,
section .section-body .title h2,
section .section-body .title h3,
section .section-body .title h4,
section .section-body .title h5,
section .section-body .title h6 {
    text-transform: uppercase;
}

section .section-head .title {
    position: relative;
    padding-top: 20px;
    padding-bottom: 5px;
    color: #417DB1 !important;
    margin: 10px auto;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
}

section .section-head .sub {
    color: #000;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    font-weight: 400;
}

section .section-head .divider {
    display: block;
    margin: 20px auto;
    content: "";
    width: 70px;
    height: 5px;
    background: #417DB1;
}

section.portfolio {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/section-portfolio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section.portfolio .section-head .title {
    color: #FFF !important;
}

section.portfolio .section-head .sub {
    color: #FFF !important;
}

section.portfolio .section-head .divider {
    background: #FFF !important;
}

section .section-body .service {
    margin-top: 15px;
    margin-bottom: 15px;
}

body > footer {
    padding-bottom: 70px;
    padding-top: 70px;
    color: #979794 !important;
    background: linear-gradient(rgba(44, 44, 44, 0.80), rgba(44, 44, 44, 0.80)), url("../img/socialedge-logo.svg");
    background-color: #373737;
    background-repeat: no-repeat;
    background-position: center right;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

body > footer div {
    display: block;
    margin: 10px 0;
}

body > footer a:hover {
    color: #979794;
}

section .projects {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    list-style: none none;
    margin: 0;
    padding: 0;
}

section .projects > .project {
    transition: all 500ms ease;

    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;

    flex-grow: 1;
    flex-basis: auto;
    padding: 25px;
    margin: 10px;

    max-width: 300px;
    min-width: 200px;
    height: 225px;
    align-items: center;
    text-align: center;

    color: #FFF;
    text-decoration: none !important;
    font-size: 42px;
    font-weight: 800;
    background: #aaa;

    background: rgba(208, 160, 43, 0.84);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    border-radius: 6px;
}

section .projects > .project:hover {
    background: rgba(208, 160, 43, 0.89);
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}

section .projects > .project small {
    display: block;
    font-weight: 400;
    margin: 5px;
    font-size: 20px;
    color: #dedede;
    line-height: normal;
}

section.portfolio .modal-body p {
    text-indent: 23px;
    text-align: justify;
    text-justify: inter-word;
}

section .team-member {
    margin-top: 15px;
    margin-bottom: 15px;
}

section .team-member .member-ico {
    height: 155px;
    text-align: center;
}

section .team-member .member-ico img {
    height: 155px;
    width: 155px;
}

section .team-member .member-desc {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    line-height: 32px;
}

section .team-member .member-desc small {
    display: block;
    font-size: 15px;
    color: #737373;
}

section #contact-form .submit-panel span.glyphicon {
    top: 8px;
    font-size: 27px;
    visibility: hidden;
}

section #contact-form span.glyphicon-hourglass {
    animation: breathing 3s ease-out infinite normal;
    color: #286090;
}

section #contact-form span.glyphicon-ok {
    color: #4ba200;
}

a {
    transition: all 400ms ease;
}

a:focus {
    outline: 0;
}

a:hover {
    text-decoration: none;
}

div.glyphicon.pic,
div.icon.pic {
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    font-size: 64px;
    color: #000;
    transition: all 500ms ease;
    padding: 3px;
}

section.section-bg div.glyphicon.pic {
    color: #FFF !important;
}

div.glyphicon.pic:hover,
div.icon.pic:hover {
    color: #417DB1;
}

.input-group-addon.glyphicon {
    top: 0 !important;
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 1086px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}